
    <section  class="about">
    <div class="container col-8  "id="about" data-aos="fade-up">

     
        <div class="p-6">
          <h3> Pune Mahanagar Parivahan Mahamandal Ltd (PMPML)</h3>
          <p class="fst-italic">
            Pune Mahanagar Parivahan Mahamandal Ltd (PMPML) is the public transport bus service provider for the city of Pune, India.

It operates 486 routes around the Pune Metropolitan Region including 51 Rainbow BRT routes that partially ply on the 4 bus rapid transit corridors.[5] As of mid'22, PMPML became the fleet in the country that only runs on Green fuel with CNG and Electric Buses. Since 2019, PMPML has been operating both 9 and 12 m Electric AC Buses at the same fare as regular buses. PMPML is the only fleet in the country to operate near around 400 Electric buses daily, providing all necessary infrastructures and leading towards most reliable public transport service in the country.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Founded	19 October 2007</li>
            <li><i class="ri-check-double-line"></i> Headquarters	Shankar Sheth Road, Pune, India</li>
            <li><i class="ri-check-double-line"></i> Service area	Pune city, Pimpri-Chinchwad & Rajiv Gandhi Infotech Park - Phases I, II & III</li>
            <li><i class="ri-check-double-line"></i> Service type	Bus and Rainbow BRT</li>
            <li><i class="ri-check-double-line"></i> Routes	486</li>
            <li><i class="ri-check-double-line"></i>Hubs	
                AundhBhosariChinchwadDeccan GymkhanaDhankawadiHadapsarKatrajKothrudNigdiPimpriPMC BhavanPune Railway StationShivaji NagarSwargate</li>
          
                <li><i class="ri-check-double-line"></i> Depots	13 And 4 Proposed</li>
                <li><i class="ri-check-double-line"></i> Fleet	2450 buses </li>
                <li><i class="ri-check-double-line"></i> Fuel type	CNG & Electric (No more on Diesel)</li>
               
                
        </ul>
      </div>
   
      </div>

</section>   