<div class="card" id="profile">
    <div class="card-body">
      <h5 class="card-title">Employee Profile</h5><br><br>
      <span style="font-size: 18px; color: rgb(41, 101, 156);">{{body.employee_email}}</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 24px; color: rgb(41, 101, 156);">{{body.employee_phone}}</span>
      <hr>

      <span class="card-subtitle mb-2 text-muted" style="font-size:20px; ">Employee Id</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <span class="card-subtitle mb-2 text-muted" style="font-size:20px;">Employee Name</span>
<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 30px; color: rgb(41, 101, 156);">{{body.employee_id}}</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<span style="font-size: 30px; color: rgb(41, 101, 156);">{{body.employee_name}}</span><br><br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 20px; color: rgb(41, 101, 156);">{{body.employee_roll}}</span><br><br>

&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 20px; color: rgb(41, 101, 156);">{{body.employee_address}}</span><br><br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
  </div>
